@model product
@{
    ViewData["title"] = $"Detalis of product{Model.Name}";
}
<div class=" row">
    <div class="col-md-8 offset-2">
        <div class="card">
        <img src="@Model.ImgUrl" alt="@Model.Name" style="width:90%;height:300px;">
        <h1>@Model.Name</h1>
        <p>@Model.price.ToString("c")</p>
        <p>@Model.Description</p>
        <p>@Model.category.Name</p>
        <p>@Model.ProductBrand</p>
            <a class="btn btn-success" asp-controller="Orders" asp-action="AddToCart" asp-route-id="@Model.Id">Add To Cart<i class=" fas fa-regular  fa-shopping-cart"> </i></a>

        </i>
    </div>
</div>
</div>
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>